body {
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}
